<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <link rel="stylesheet" href="./MainPage/moviesPosters.css">
</head>
<body>
    <h1>welcome </h1>
    <div  id="poster-box">
        <a href="login.html" method="post" > <img  src="./posters/28later.jpg" alt=""></a>
        <img src="./posters/joker.jpg" alt="" >
        <img src="./posters/joker.jpg" alt="">
        <img src="./posters/joker.jpg" alt="">
    </div>
</body>
<script src="./MainPage/index.js"></script>
</html>