<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./MainPage/reviews.css">
    <title>Document</title>
</head>
<body>
    <h1>REVIEWS</h1>
    <div id="movie-reviews-box"> 
        <div id="users-reviews">
            <span class="retrieved-reviews">great movie , nice to watch it..</span>
            <span class="retrieved-reviews">it is a dramatic film just wow!</span>
            <span class="retrieved-reviews">naaa I hate it :@</span>
            <a href=""></a>
        </div>
    </div>
</body>
</html>