<!DOCTYPE html>
    <html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SignUp</title>
        <link rel="stylesheet" href="../MainPage/signUp.css" />
    
    </head>
    
    <body>
        <div class="container">
            <h1 class="title">Register ..</h1>
            <form action="stories.txt" class="info">
                <div id="inputs-img">
                    <div>
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email">
                        <label for="pass">Password: </label>
                        <input type="password" id="pass" name="password" minlength="8" required>
                    </div>
                    <img src="../MainPage/login.png"  alt="">
                </div>
                
                

                <input type="submit" id="signupBtn" value="SIGN UP">
            </form>
        </div>
    </body>
    
    </html>