body {
    background-image: url("https://preview.redd.it/4fxxbm4opjd31.jpg?auto=webp&s=f5b7d62076600a978d290a5e87f13140c47f5cd0");


}

h1 {
    font-family: fantasy;
    font-style: calc();
    color: rgb(5, 129, 143);
    font-size: 300%;
    margin-bottom: 0%;
    margin-top: 0%;
}

.header {
    background-color: rgb(236, 230, 230);
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

h3 {

    color: rgb(39, 168, 174);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;

}

